.logo {
  text-align: left;
  height: 24px;
  width: 134px;
}

.logo a {
  text-align: left;
  display: block;
  // height: 24px;
  // width: 134px;
}

.logo #Layer_2 {
  height: 24px;
  width: 134px;
}